body {
    background-color: #ffd9ee(320 22% 37%);
    font-family: Courier 'Courier New', Courier, monospace, sans-serif;
    margin: 0;
    padding: 0;
  }bb
  
  header {
    background-color: #9652c2(146, 20, 138);
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
 
  
  .brand-name {
    margin: 0;
  }
  footer{
    background-color: #c2528b(204, 83, 184);
    height: 80px;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .product-container {
    background-color: #c2528b;
    border: 2px solid #f380b9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    border-radius: 30px;
  }
  
  .product-container img  { 
    width: 100%;
  }
  
  .product-container h2 {
    font-size: 1.4em;
    margin: 40px 0;
  }
  
  .product-container p {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  