/* Estilo para el encabezado */

body {
  background-image: radial-gradient(circle at 50% -20.71%, #ffdcf4 0, #ffd3f3 12.5%, #ffc9f2 25%, #ffbff2 37.5%, #f2b5f2 50%, #e2acf3 62.5%, #d0a4f4 75%, #bc9ff6 87.5%, #a69bf8 100%);
  font-family: Courier 'Courier New', Courier, monospace, sans-serif;
  margin: 0;
  padding: 0;

}
* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
h1 {
  margin: 0;
}

main {
  max-width: 960px; 
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.product-container:hover {
  transform: scale(1.1);
}

/* Estilo para los productos */
.product-container {
  background-color: #c2528b;
  border: 2px solid #f380b9;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 300px;
  border-radius: 30px;
}



.product-container:hover {
  transform: scale(1.1);
}

.flecha {
  position: absolute;
  bottom: -500px;
  left: 50%;
  transform: translateX(-50%);
  border: solid #884f75;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.flecha:hover {
  transform: translateY(-3px);
}

.product-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
a {
  text-decoration: none;
  
}
 p{
  
  position: sticky;
  font-family: "Sans-Serif";
  text-align: center;
  margin-top: 15px;
}
