/* Estilo para el encabezado */

body {
  background-color: #bc8add;
}
h1 {
  margin: 0;
}

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
/* Estilo para los productos */
.product-container {
  background-color: #5f50a9;
  border: 2px solid #9652c2;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 2.5%;
  padding: 20px;
  text-align: center;
  width: 30%;
  border-radius: 30px;
  display: inline-block;
  vertical-align: top;
}

.product-container:hover {
  transform: scale(1.1);
}

.flecha {
  position: absolute;
  bottom: -500px;
  left: 50%;
  transform: translateX(-50%);
  border: solid #884f75;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.flecha:hover {
  transform: translateY(-3px);
}

.product-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
