* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.logo {
  margin-left: 50px;
  margin-right: 50px;
}
.btn {
  margin-left: 120px;
}
.nav-links {
  margin-left: 150px;
}

#header {
  background-color: #9652c2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 85px;
}

#header .logo img {
  height: 80px;
  width: auto;
  transition: all 0.3s;
}

#header .logo img:hover {
  transform: scale(1.2);
}

#header .logo {
  cursor: pointer;
}

#header .nav-links {
  list-style: none;
}

#header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

#header .nav-links li:hover {
  transform: scale(1.1);
}

#header .nav-links a {
  font-size: 700;
  color: #ffffff;
  text-decoration: none;
}

#header .nav-links li a:hover {
  color: #c2528b;
}

#header .btn button {
  font-weight: 700;
  color: #9652c2;
  padding: 9px 25px;
  background: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#header .btn button:hover {
  background-color: #ffffff;
  color: #c2528b;
  transform: scale(1.1);
}
