@import url(../FooterPagina/FooterPagina.css);
@import url(../BarraNavegacion/BarraNavegacionAll.css);

main {
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    flex-wrap: wrap;
    
}

.card {
    position: relative;
    width: 350px;
    height: 400x;
    background: #ffd9ee;
    border-radius: 20px;
    overflow: hidden;
    transition: .5s;
    margin: 15px 10px;
}

.card:hover {
    box-shadow: 0 5px 15px #F380B9;
    transform: translateY(-15px);
}

.card .head {
    height: 125px;
    width: 100%;
    position: relative;
}

.card .head .circle {
    position: absolute;
    width: 350px;
    height: 300px;
    border-radius: 50%;
    background: #c2528B;
    bottom: 0;
}

.card .head .img {
    position: absolute;
    width: 150px;
    height: 150px;
    background: #ffd9ee;
    padding: 5px;
    border-radius: 50%; 
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
}

.card .head .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.card .description {
    margin-top: 12px;
    height: 200px;
    padding: 40px 20px 20px 20px;
    border-bottom: solid 1px rgba(6, 74, 76, .18);
    text-align: center;
}

.card .description h3 {
    color: #171717;
    font-size: 20px;
}

.card .description h4 {
    color:#c2528B;
    font-size: 17px;
    margin-top: 5px;
}

.card .description p {
    margin-top: 20px;
    font-size: 15px;
}

.card .contact {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .contact a {
    text-decoration: none;
    color: #F8FFE5;
    background: #9652C2;
    padding: 5px 20px;
    border-radius: 20px;
    transition: .3s;
}

.card .contact a:hover {
    background:#5F50A9;
}

 
