html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #f3d9dc;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

header {
  height: 140px;
  min-width: 100%;
  transition: 0.5s;
  position: fixed;
  margin-left: 150px;
  padding-left: 28px;
  top: 0;
  left: 0;
  z-index: 998;
}

#BarraLateral {
  background-color: #9652c2;
  height: 100%;
  width: 150px;
  opacity: 0.98;
  position: fixed;
  transition: 0.5s;
  top: 0px;
  left: 0px;
  z-index: 999;
}

.FlechaApertura {
  position: absolute;
  left: 100%;
  height: 100%;
  width: 27px;
  border: 0px;
  opacity: 0.54;
  background-color: #e0fbfc;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px 60px;
}

#CuerpoPag {
  background-color: #f3d9dc;
  display: grid;
  grid-template-columns: 150px repeat(auto-fit, minmax(300px, auto));
  grid-template-rows: 140px repeat(auto-fill, minmax(400px, auto));
  grid-gap: 30px;
}

.CajaEstilo {
  background-color: #c5fffd;
  height: 300px;
  width: 220px;
  margin: 60px;
  border-color: black;
  border: 2px;
  border-style: solid;
  position: sticky;
}

.BotonComprar {
  width: 80px;
  height: 30px;
  position: absolute;
  border: 0px;
  top: 245px;
  left: 114px;
  margin: 20px;
  background-color: green;
}

.EstiloImg {
  height: 300px;
  width: 220px;
}

.BotonFiltro {
  height: 50px;
  width: 100%;
  border: 0px;
  font-weight: bold;
  background-color: #9652c2;
}
