html {
  height: 100%;
  width: 100%;
}
body {
  background-color: blue;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

header {
  filter: brightness(0.8);
  background: linear-gradient(180deg, black, 35%, #29527a);
  height: 140px;
  min-width: 100%;
  transition: 0.5s;
  position: fixed;
  margin-left: 150px;
  padding-left: 28px;
  top: 0;
  left: 0;
  z-index: 1;
}

p {
  margin: 0%;
  background-color: darkorchid;
}

#BarraLateral {
  background-color: #29527a;
  height: 100%;
  width: 150px;
  opacity: 0.98;
  position: fixed;
  transition: 0.5s;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.FlechaApertura {
  position: absolute;
  left: 82%;
  height: 100%;
  width: 28px;
  border: 0px;
  opacity: 0.54;
  background-color: #e0fbfc;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px 60px;
}

#CuerpoPag {
  background-color: blue;
  display: grid;
  grid-template-columns: 150px repeat(auto-fit, minmax(300px, auto));
  grid-template-rows: 140px repeat(auto-fill, minmax(400px, auto));
  grid-gap: 30px;
}

.CajaEstilo {
  background-color: violet;
  height: 300px;
  width: 220px;
  margin: 60px;
  border-color: black;
  border: 2px;
  border-style: solid;
  position: sticky;
}

.BotonComprar {
  width: 100px;
  height: 45px;
  position: absolute;
  top: 214px;
  left: 40px;
  margin: 20px;
}
