html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f3d9dc;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
}

header {
  height: 140px;
  min-width: 100%;
  transition: 0.5s;
  position: fixed;
  margin-left: 150px;
  padding-left: 28px;
  top: 0;
  left: 0;
  z-index: 998;
}

p {
  position: sticky;
  font-family: "Sans-Serif";
  text-align: center;
  margin-top: 15px;
}

#BarraLateral {
  background-color: #9652c2;

  height: 100%;
  width: 150px;
  opacity: 0.9;
  position: fixed;
  transition: 0.5s;
  top: 0px;
  left: 0px;
  z-index: 999;
}

.FlechaApertura {
  position: absolute;
  left: 100%;
  height: 100%;
  width: 27px;
  border: 0px;
  opacity: 0.54;
  background-color: rgb(243, 128, 185);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px 60px;
}

#CuerpoPag {
  background-image: radial-gradient(circle at 50% -20.71%, #ffdcf4 0, #ffd3f3 12.5%, #ffc9f2 25%, #ffbff2 37.5%, #f2b5f2 50%, #e2acf3 62.5%, #d0a4f4 75%, #bc9ff6 87.5%, #a69bf8 100%);
  display: grid;
  grid-template-columns: 150px repeat(auto-fit, minmax(300px, auto));
  grid-template-rows: 85px repeat(auto-fill, minmax(400px, auto));
  grid-gap: 30px;
}

.CajaEstilo {
  background-color: rgb(243, 128, 185);
  height: 360px;
  width: 220px;
  margin: 60px;
  border-color: rgb(243, 128, 185);
  border-style: solid;
  position: sticky;
  border-radius: 20px;
  box-shadow: 5px 5px 20px #f380b9;
}
.CajaEstilo:hover{
  transform: scale(1.1);
}

.BotonComprar {
  position: absolute;
  top: 370px;
  left: 67px;
  background-color: rgb(243, 128, 185);
  border: 1px solid rgb(209, 213, 219);
  border-radius: 6px;
  color: #111827;
  font-family: "Segoe UI";
  font-size: 15px;
  font-weight: 600;
  line-height: 10px;
  padding: 15px;
  text-align: center;
}
.BotonComprar:hover {
  background-color: chartreuse;
  box-shadow: 2px 2px 0px black;
}
.BotonComprar:active {
  box-shadow: 0.5px 0.5px 0px black;
  transform: translateY(2px);
}

.EstiloImg {
  height: 300px;
  width: 220px;
  border-radius: 20px 20px 0px 0px;
}

.BotonFiltro {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border: 0px;
  font-weight: bold;
  background-color: #9652c2;
  font-size: 18px;
  font-family: "Roboto";
}
.BotonFiltro:hover {
  background-color: rgb(243, 128, 185);
  opacity: 0.8;
}
.BotonFiltro:active {
  background-color: aliceblue;
  opacity: 0.3;
}
