body{
    background: #f380b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5f50a9, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient(circle at 50% -20.71%, #ffdcf4 0, #ffd3f3 12.5%, #ffc9f2 25%, #ffbff2 37.5%, #f2b5f2 50%, #e2acf3 62.5%, #d0a4f4 75%, #bc9ff6 87.5%, #a69bf8 100%);
    
    }

header{
    text-align: center;
}

header h1{
    font-size: 50px;
    font-family: 'Staatliches', cursive;
    color: #C2528B;
    
}

a{
    font-family: 'Dosis', sans-serif;
}

header p{
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}

header h2{
    font-size: 20px;
    font-family: 'Staatliches', cursive;
    color: #C2528B;
}

div{
    position: absolute;
    left: 25%;
  
}



.contact label, .contact input, .contact textarea{
     display: block;
     width: 300%;
     margin-bottom: 15px;
     margin-top: 15px;
     font-family: 'Dosis', sans-serif;
    
}

.contact input, .contact textarea{
  padding: 10px;
  border: 3px solid #C2528B;
}




/*Boton Enviar formulario*/
#boton{
    width: 180%;
    background-color: #C2528B;
    color: white;
    padding: 14px;
    margin-left: 70%;
    border: none;
    border-radius: 20px;
}
#boton:hover{
    background-color: #f380b9;
}

